{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Liza Admin Panel</h1>
               <a class="btn btn-primary">
    <div onclick="window.open('https://dashboard.heroku.com/apps/toybraryaustin/resources','mywindow');" style="cursor: pointer;">&nbsp;
    Click here to navigate to Heroku and view email statistics
    </div>
</a>
            {% if not current_user.is_authenticated %}
            <p>
                Please log in to continue.
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>


<div class="container text-center">

    <img src="/static/images/toybrary_color_logo.jpg" class="img-fluid" style="max-width:55%">
</div>
{% endblock body %}